body{
    margin:0;

    background:
    linear-gradient(
        180deg,
        var(--bg-secondary) 0%,
        var(--bg-main) 50%,
        var(--bg-secondary) 100%
    );

    overflow:hidden;
}

/* CANVAS */

#hex-bg{
    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100%;

    z-index:-1;
}